.header
  .mainHeader
    .mainHeader_inner  
      ClearAccount
      .mainHeader_inner_right
        .logoutTop
          - if user_signed_in?
            =link_to "ログアウト", destroy_user_session_path, method: :delete
          
            =link_to "/users/#{current_user.id}", class:"mypage" do
              マイページ
          - else     
            =link_to "users/sign_up" ,class:"mypage" do
              新規登録

            =link_to "users/sign_in" ,class:"mypage" do
              ログイン       
       

.main-contents
  ようこそ#{@name}さん
  .main-contents_incomes
    =link_to "incomes/new" ,class:"incomes-btn" do
      収入を入力する
  .main-contents_spendings
    =link_to "spendings/new" ,class:"spendings-btn" do
      支出を入力する
.side-contents
  .side-contents_plan
  今月の予算
  200,000
  .side-contents_current
  現在の状況
  15,000
